<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .my_label{
            color:gold;
            font_size: 20px
        }
        .my_secondary_label{
            color: black;
           font_size: 20px
        }
    </style>
    <meta charset="UTF-8">
    <title>library information management</title>
</head>
<body>



<h1>welcome to our library</h1>
<form method="POST" action="/save">
    {% csrf_token %}
    <table>
    <tbody>
    <tr>
        <td><label class= "my_label">student name</label></td>
        <td><input type="text" name="student_name"></td>
    </tr>
    <tr>
        <td> <label class="my_label my_secondary_label" >student age</label></td>
        <td> <input type="text" name="student_name"></td>
    </tr>
     <tr>
        <td colspan="2"><button type="submit" style="background: aquamarine;margin-top:15px;margin-bottom:15px;font-size: 20px;width:100% ;color:white">Save</button></td>
    </tr>
    </tbody>
</table>


</form>
<a href="/shop">shopping</a>
</body>
</html>